+* {
    padding: 0;
    margin: 0;
    border: 0;

}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

:focus, :active {
    outline: none
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjusst: 100%;
    -moz-text-size-adjusst: 100%;
    -webkit-text-size-adjust: 100%;

}

input, button, textarea {
    font-family: inherit;
}

input:-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button:-moz-focus-innesr {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}


.wrapper {
    width: 100%;
    /* overflow: hidden; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    max-width: 75%;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #55A630;;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
}

.header__body {
    position: relative;
}

.header__top {
    width: 100%;
    min-height: 85px;
    padding-top: 12px;
}


.header__content {
    display: flex;
    justify-content: space-between;
}

.header__burger {
    display: none;
}

.header__logo {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.header__pnone {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__pnone > *:not(:last-child) {
    margin-right: 22px;

}

.header__number {
    white-space: nowrap;
    font-weight: 500;
    font-size: 25px;
    line-height: 26px;
    color: #424242;
}

.header__socials {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header__socials > * {
    cursor: pointer;
}

.header__socials > *:not(:last-child) {
    margin-right: 26px;
}

.header__bottom {
    padding: 1% 0;
    border-top: 10px solid rgba(85, 166, 48, 0.5);
}


.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header__item {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #424242;
}

.section__head {
    width: 100%;
}

.main {
    margin-top: 7%;
    padding-top: 2%;
    background-color: rgba(236, 255, 235, 1);
}

.main__container {
    width: 75%;
    margin: auto;
}
.img__head{
    margin-left: 15%;
}

.h6__style h6 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #424242;
}

.h1__style h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 65px;
    color: #55A630;
    margin: 3% 0;
}

.paragraph p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}
.container{
    display: flex;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}