@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;
    -ms-text-size-adjusst: 100%;-moz-text-size-adjusst: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input:-ms-clear {display: none;}
button {cursor: pointer;}
button:-moz-focus-innesr {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}

.wrapper {
    width: 100%;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
    max-width: 85%;
    padding: 0 5px;
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #d09d21;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
}

.header__body {
    position: relative;
}

.header__top {
    width: 100%;
    min-height: 85px;
    padding-top: 12px;
}


.header__content {
    display: flex;
    justify-content: space-between;
}

.header__burger {
    display: none;
}

.header__logo {
    cursor: pointer;
    position: relative;
    z-index: 3;
}
.header__logo img {
    width: 7vw;
}
.header__pnone {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__pnone > *:not(:last-child) {
    margin-right: 22px;

}

.header__number {
    white-space: nowrap;
    font-weight: 500;
    font-size: 25px;
    line-height: 26px;
    color: #424242;
}

.header__socials {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header__socials > * {
    cursor: pointer;
}

.header__socials > *:not(:last-child) {
    margin-right: 26px;
}

.header__bottom {
    padding-bottom: 1%;

}


.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header__item {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #424242;
    position: relative;
}
.header__itemIcon {
    display: none;
}
.header__list a {
    color: #1b1e21;
}

.header__item::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #d09d21;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s linear;
}
.header__item:hover::before {
    width: 100%;
}
.box::before {
    content: "";
    width: 1px;
    height: 0;
    background-color: #d09d21;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s linear;
}
.box:hover::before {
    height: 100%;
}


.header__item::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: #d09d21;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s linear;
}
.header__item:hover::after {
    width: 100%;
}
.box::after {
    content: "";
    width: 1px;
    height: 0;
    background-color: #d09d21;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s linear;
}
.box:hover::after {
    height: 100%;
}

.section__head {
    width: 100%;
}

.main {
    margin-top: 7%;
	padding-top: 2%;
    background-color: rgba(213, 161, 34, 0.21);
}

.main__container {
    width: 85%;
    margin: auto;
}
.img__head{
   margin-left: 15%;
    margin-top: 3%;
}
.img__head img {
    width: 40vw;
}
.h6__style h6 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6vw;
    line-height: 26px;
    color: #424242;
}

.h1__style h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.6vw;
    line-height: 65px;
    color: #d09d21;
	margin: 3% 0;
}

.paragraph p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 23px;
    color: #424242;
}

.main__container {
    display: flex;
}

.content__head {
    padding-top: 10%;
}

.button {
    width: 285px;
    height: 66px;
    border: 1px solid #d09d21;
    color: #d09d21;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.btn-1 {
    margin-top: 8%;
    border-radius: 50px;

}
.btn-1:hover {
    color: white;
    background-color: #d09d21;
    cursor: pointer;
}

#map iframe {
    border: 2px solid #d09d21;
    box-shadow: 5px 4px 14px 5px  #d09d21;
}


.img-3 {
    position: absolute;
    left: -15%;
}
.img-3 img {
    width: 21vw;

}
.card__laser {
    display: flex;
    background-color: rgba(208, 157, 33, 0.35);
    width: 60%;
    padding-top: 1%;
    margin: auto;
    margin-top: 5%;
    position: relative;
}
.row-2 {
    padding: 5%;
    margin-left: 10%;
}
.row-2 h3 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3vw;
    color: #424242;

}
.row-2 h2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6vw;
    color: #232C38;

}
.row-2 p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size:1.1vw;
    color: #151D28;

}

.mini-content-3 button {
    width: 12vw;
    Height: 3vw;
    border-radius: 19px;
    background: #C7A17A;
    font-size: 1vw;
    border: none;
    margin-right: 30px;
    color: #fff;
}
.content-2 {
    display: flex;
}


/*staff*/


:root {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    --color1:#e2af21 ;
    --color2: #e2af21;
    --color3: #e2af21;
}
:root * {
    outline: none;
}
.section__staff {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 40vw;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-left h1 {
    text-align: center;
}
.hero-left button {
    position: absolute;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    outline: #a2791e;
    border-radius: 50%;
    background-color: #d09d21;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 2;
}
.hero-left button:last-of-type {
    right: 0;
}
.hero-left button:active {
    transform: scale(0.9);
}
.hero-left .layers {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hero-left .layers .layer {
    display: grid;
    grid-template-rows: 6rem 3fr 1fr;
    background-color: whitesmoke;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.5s;
    transform: translateX(100%);
    opacity: 0;
}
.hero-left .layers .layer-displayed {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}
.hero-left .layers .layer-displayed-exit {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
}
.hero-left .layers .layer > span {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.hero-left .layers .layer__image {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
}
.hero-left .layers .layer__info {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 2rem;
    font-size: 1.5rem;
}
.hero-left .layers .layer__info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-left .layers .layer__info div:first-child {
    align-items: flex-end;
    color: gray;
}
.hero-left .layers .layer__info div:last-child {
    font-weight: bold;
}
.hero-left .layers .layer:nth-child(1) > span {
    color: var(--color1);
}
.hero-left .layers .layer:nth-child(2) > span {
    color: var(--color2);
}
.hero-left .layers .layer:nth-child(3) > span {
    color: var(--color3);
}
.hero-right {
    grid-column: 2;
    position: relative;
    overflow: hidden;
}
.hero-right > .layer {
    background-color: #d09d21;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.5s;
}
.hero-right > .layer-displayed {
    transform: translateX(0);
    z-index: 2;
}
.hero-right > .layer-displayed-exit {
    transition-delay: 1s;
    transition-duration: 0;
    z-index: 1;
}
.hero-right > .layer:nth-child(1) {
    background-color: var(--color1);
}
.hero-right > .layer:nth-child(2) {
    background-color: var(--color2);
}
.hero-right > .layer:nth-child(3) {
    background-color: var(--color3);
}
.hero-right .photo-name {
    position: absolute;
    top: 33%;
    left: 50%;
    width: 20%;
    font-size: 1.5rem;
    z-index: 2;
}
.hero-right .photo-name span {
    display: block;
}
.hero-right .photo-name__wrapper {
    position: relative;
}
.hero-right .photo-name__title {
    font-weight: bold;
}
.hero-right .photo-name .layer {
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.hero-right .photo-name .layer-displayed {
    transform: translateX(0);
    transition-delay: 0.5s;
}
.hero-right .photo-frame {
    position: absolute;
    overflow: hidden;
    animation-play-state: paused;
}
.hero-right .photo-frame:nth-child(4) {
    top: 10%;
    left: 10%;
    width: 40%;
    height: 40%;
    z-index: 3;
}
.hero-right .photo-frame:nth-child(4) .cover {
    background-color: #e2af21;
}
.hero-right .photo-frame:last-child {
    top: 40%;
    left: 20%;
    width: 65%;
    height: 50%;
    z-index: 2;
}
.hero-right .photo-frame .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #e2af21;
    transition: width 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.hero-right .photo-frame .layer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition-delay: 0.5s;
}
.hero-right .photo-frame .layer-displayed {
    opacity: 1;
}

@keyframes cover {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    95% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 100%;
    }
    .header__logo img {
        width: 25vw;
        margin-left: 80%;
    }

    .header__burger {
        position: relative;
        display: block;
        width: 60px;
        height: 50px;
        z-index: 3;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 10px;
        background:#d09d21;
        transition: all 0.3s linear;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active::before {
        top: 20px;
        transform: rotate(225deg);

    }
    .header__burger.active::after {
        bottom: 20px;
        transform: rotate(-225deg);
    }
    .header__burger.active span {
        transform: scale(0, 1);
        transition: all 0.3s linear;

    }
    .header__burger span {
        position: absolute;
        top: 20px;
        width: 80%;
        height: 10px;
        background: #d09d21;
    }
    .header__socials {
        display: none;
    }
    .header__menu {
        display: block;
        justify-items: center;
        padding-top: 120px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background: whitesmoke;
        transition: all 0.3s linear;
    }
    .header__menu.active {
        left: 0;
    }
    .header__list {
        display: block;
        justify-items: center;
        align-items: center;
        padding-top: 15%;
    }
    .header__item {
        font-size: 5vw;
        text-align: center;
        height: 12vh;
    }
    .header__itemIcon {
        display: flex;
        justify-content: space-evenly;
        height: 12vh;
    }
    .header__itemIcon a span img {
        width: 7vw;
    }
    .content__head {
        width: 100%;
    }
    .h1__style h1 {
        margin-top: 8%;
        font-size: 35px;
        text-align: center;
    }
    .paragraph__header p {
        font-size: 14px;
        text-align: center;
    }
    .img__head {
        display: none;
    }
    .header__tel {
        display: none;
    }
    .header__number {
        display: none;
    }
    .btn-1 {
        width: 100%;
        margin-bottom: 8%;
        font-size: 5vw;
    }
}

@media screen and (min-width: 451px) and (max-width: 501px){
    .container {
        max-width: 100%;
    }
    .header__burger {
        position: relative;
        display: block;
        width: 60px;
        height: 50px;
        z-index: 3;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 10px;
        background:#d09d21;
        transition: all 0.3s linear;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active::before {
        top: 20px;
        transform: rotate(225deg);

    }
    .header__burger.active::after {
        bottom: 20px;
        transform: rotate(-225deg);
    }
    .header__burger.active span {
        transform: scale(0, 1);
        transition: all 0.3s linear;

    }
    .header__burger span {
        position: absolute;
        top: 20px;
        width: 80%;
        height: 10px;
        background: #d09d21;
    }
    .header__socials {
        display: none;
    }
    .header__menu {
        display: grid;
        justify-items: center;
        padding-top: 120px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background: whitesmoke;
        transition: all 0.3s linear;
    }
    .header__menu.active {
        left: 0;
    }
    .header__list {
        display: grid;
        justify-items: center;
        align-items: center;
        padding-top: 15%;
    }
    .header__item {
        font-size: 3.8vw;
        height: 12vh;
    }
    .header__itemIcon {
        display: flex;
        height: 12vh;
        justify-content: space-evenly;
    }
    .header__itemIcon a span img {
        width: 6vw;
    }
    .header__itemIcon a {
        margin-right: 5%;
    }
     .titles__header {
         text-align: center;
     }
    .img__head {
        display: none;
    }
    .header__logo img {
        width: 20vw;
        margin-left: 130%;
    }
    .h6__style {
        display: none;
    }
   .h1__style h1 {
       margin-top: 10%;
       font-size: 45px;
   }
    .paragraph__header p {
        font-size: 16px;
    }
    .header__tel {
        display: none;
    }
    .header__number {
        display: none;
    }
    .btn-1 {
        width: 100%;
        margin-bottom: 8%;
        font-size: 5vw;
    }
}

@media screen and (min-width: 502px) and (max-width: 767px) {
    .header__logo img {
        width: 22vw;
    }
    .container {
        max-width: 100%;
    }
    .main {
        margin-top: 16%;
    }
    .header__burger {
        position: relative;
        display: block;
        width: 60px;
        height: 50px;
        z-index: 3;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 10px;
        background:#d09d21;
        transition: all 0.3s linear;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active::before {
        top: 20px;
        transform: rotate(225deg);

    }
    .header__burger.active::after {
        bottom: 20px;
        transform: rotate(-225deg);
    }
    .header__burger.active span {
        transform: scale(0, 1);
        transition: all 0.3s linear;

    }
    .header__burger span {
        position: absolute;
        top: 20px;
        width: 80%;
        height: 10px;
        background: #d09d21;
    }
    .header__socials {
        display: none;
    }
    .header__menu {
        display: block;
        text-align: center;
        padding-top: 120px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background: whitesmoke;
        transition: all 0.3s linear;
    }
    .header__menu.active {
        left: 0;
    }
    .header__list {
        display: block;
        justify-items: center;
        align-items: center;
        padding-top: 15%
    }
    .header__item {
        font-size: 4vw;
        height: 12vh;
    }
    .header__itemIcon {
        display: flex;
        height: 12vh;
        justify-content: space-evenly;
    }
    .header__itemIcon a span img {
        width: 6vw;
    }
	.main__container {
		display: block;
	}
	.img__head{
        display: none;
	}
	.content__head {
		text-align: center;
        padding-bottom: 5%;
	}
    .h1__style h1 {
        font-size: 7.4vw;
    }
    .h6__style h6 {
        display: none;
    }
    .paragraph__header p {
        font-size: 3vw;
    }
	.buttons__head {
		display: block;
	}
	.btn-1 {
		width: 100%;
		margin-bottom: 8%;
        font-size: 5vw;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__logo img {
        width: 20vw;
    }
    .container {
        max-width: 100%;
    }
    .header__burger {
        position: relative;
        display: block;
        width: 60px;
        height: 50px;
        z-index: 3;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 10px;
        background: #d09d21;
        transition: all 0.3s linear;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active::before {
        top: 20px;
        transform: rotate(225deg);

    }
    .header__burger.active::after {
        bottom: 20px;
        transform: rotate(-225deg);
    }
    .header__burger.active span {
        transform: scale(0, 1);
        transition: all 0.3s linear;}
    .header__burger span {
        position: absolute;
        top: 20px;
        width: 80%;
        height: 10px;
        background: #d09d21;
    }
    .header__socials {
        display: none;
    }
    .header__menu {
        display: grid;
        justify-items: center;
        padding-top: 120px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background: whitesmoke;
        transition: all 0.3s linear;
    }
    .header__menu.active {
        left: 0;
    }
    .content__head {
         display: block;
         align-items: center;
         padding-bottom: 5%;
     }
    .header__list {
        display: grid;
        justify-items: center;
        align-items: center;
        padding-top: 5%;
    }
    .header__item {
        font-size: 4vw;
    }
    .header__itemIcon {
        display: flex;
        justify-content: space-evenly;
    }
    .header__itemIcon a {
        margin-right: 35%;
    }
    .header__itemIcon a span img {
        width: 7vw;
    }
    .img__head {
        margin-top: 12%;
        margin-left: 6%;
    }
    .img__head img {
        width: 50vw;
    }
    .h1__style h1 {
        font-size: 4.1vw;
    }
    .h6__style h6 {
        font-size: 2vw;
        margin-bottom: -5%;
    }
    .paragraph__header p {
        font-size: 1.6vw;
    }
    .btn-1  {
        margin-top: 15%;
        width: 100%;
        font-size: 2.2vw;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .img__head {
        margin-left: 5%;
        margin-top: 10%;
    }
    .img__head img {
        width: 50vw;
    }
    .h6__style {
        font-size: 2vw;
    }
    .h1__style h1{
        font-size: 4.5vw;
    }
    .paragraph__header p{
        font-size: 1.6vw;
    }
    .buttons__head {
        display: block;
     }
    .btn-1 {
        margin: 5% 0;
        font-size: 2vw;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1444px){
    .img__head {
        margin-left: 3%;
        margin-top: 9%;
    }
    .img__head img {
        width: 50vw;
    }
    .buttons__head {
        display: block;
    }
    .btn-1 {
        margin-bottom: 3%;
        font-size: 1.8vw;
    }
    .header__link {
        font-size: 1.3vw;
    }
}

@media screen and (min-width: 1445px){
    .h1__style h1 {
        font-size: 3vw;
    }
    .header__link {
        font-size: 1.3vw;
    }
    .btn-1 {
        font-size: 1.3vw;
    }
}